.homebtn1
{
    width: 40%;
    margin-left: 30%;
    padding: 3%;
    margin-top: 50%;
    border: none;
    background: #04AA6D;
    color: blanchedalmond;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 5px;
}
.homebtn2
{
    width: 40%;
    margin-left: 30%;
    padding: 3%;
    border: none;
    background: #04AA6D;
    color: blanchedalmond;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 5px;
}