.listCol1
{
    color: black;
    font-size: 13px;
    text-align: center;
    width: 32%;
}
.listCol2
{
    color: black;
    font-size: 13px;
    text-align: center;

}
.listCol3
{
    color: black;
    font-size: 13px;
    text-align: center;
}
.listCol4
{
    color: black;
    font-size: 13px;
    text-align: center;

}